{block media-content}
makro:
<img src="{showPrimaryMedia 'mediastorage/test/multi', size => 'size-grid-thumbnail'}" />
<hr>
n:makro:
<img n:showPrimaryMedia="mediastorage/test/multi, size => 'size-grid-thumbnail'" />
{/block}