{block media-content}
makro:
<img src="{showSingleMedia 'mediastorage/test/single', size => 'size-grid-thumbnail'}" />
<hr>
n:makro:
<img n:showSingleMedia="mediastorage/test/single, size => 'size-grid-thumbnail'" />
{/block}