{block content}
<ul id="media-menu">
    <li><a n:href="Media:upload">Upload</a></li>
    <li><a n:href="Media:grid">Grid</a></li>
    <li><a n:href="Media:popupSingle">Popup - single file</a> (<a n:href="Media:showSingle">Show</a>)</li>
    <li><a n:href="Media:popupMulti">Popup - multiple files</a> (<a n:href="Media:showMulti">Show</a>) (<a n:href="Media:showMultiPrimary">Show primary</a>)</li>
    <li><a n:href="Media:noimage">Noimage</a></li>
</ul>

{include media-content}

{/block}