<img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{fileIcon name => $file->getIconName(), size => size-grid-thumbnail}" />
{*<div class="name"><a n:file="name => $file">{$file->getName()}</a></div>
<div class="icon-path">icon path: {fileIcon name => $file->getIconName(), size => size-grid-thumbnail}</div>
<div class="file-path">file path: {file name => $file}</div>*}
