<img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{img name => $file, size => size-grid-thumbnail}" />
{*<div class="name"><a n:img="name => $file, size => size-grid-thumbnail">{$file->getName()}</a></div>*}
{*<div class="path">image path:{img name => $file, size => size-grid-thumbnail}</div>*}